{%extends 'base.html'%}
{%block title%}Flask{%endblock title%}
{%block body%}

<!--Flask-->
<div class="bg-dark text-white">
  <h1 class="text-center my-0">FLASK - Framework</h1>
  </div>
<div class="album bg-dark">
    <div class="container">
      <h1 class="text-left text-white">OVERVIEW</h1>
      <p class="text-white text-align:justify text-break bg-dark fs-4">Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions. However, Flask supports extensions that can add application features as if they were implemented in Flask itself. Extensions exist for object-relational mappers, form validation, upload handling, various open authentication technologies and several common framework related tools.
      </p>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/fk1.jpg" class="d-block w-100" alt="...">
  
          <div class="card-body">
            <p class="card-text"><strong>Complete Flask Course Playlist</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtube.com/playlist?list=PLu0W_9lII9agAiWp6Y41ueUKx1VcTRxmf"><button type="button" class="btn btn-secondary">Visit Playlist</button></a>                 
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/fk7.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Complete Helpful Documentation</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://flask.palletsprojects.com/en/2.1.x/quickstart/#"><button type="button" class="btn btn-secondary">Get Documentation</button></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/fk3.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Flask In One Video For Revision</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/oA8brF3w5XQ"><button type="button" class="btn btn-secondary">Play Video</button></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="container my-3">
      <style>
        .content {
          max-width: 500px;
          margin: auto;
        }
        </style>
        <body>
        
        <div class="content">
      <div class="col" >
        <div class="card shadow-sm">
          <img src="/static/fk4.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Notes And Study Material</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1jjz6xUJbcuf6Z3hyrkfufzGcRMGITBKh"><button type="button" class="btn btn-secondary">Click for Notes</button></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock body%}