{%extends 'base.html'%}
{%block title%}Full Stack Developer{%endblock title%}
{%block body%}
    <div class="container mt-3">
        <div class="card mb-3">
          <div class="card-header text-center">
            <strong><h4>Full Stack Developer</h4></strong>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
  
              <small>
                <footer class="footer">
                  <h6><u><center>JOB DESCRIPTION</center></u></h6>
                    <h6>Duties and Responsibilities:</h6>

                    <p>Generate leads through various outreach strategies cold calls, emails, LinkedIn, other channels and databases.
                    Map target account profiles and build database of potential customers.
                    Maintain various lists of accounts and leads.
                    Also focus on events(online/off-line) to drive meetings for the sales team.
                    Maintain record of all outreach activities and capture details of opportunities in the CRM.
                    Evangelise the value propositions of Seclore Product/s to the target markets by developing persona-based messaging; first and second and multiple follow-up scripts
                    Work collaboratively with sales, marketing and other internal stakeholders to validate targeting strategy.
                    Conduct effective cold call & email campaigns. Speak to decision makers and be comfortable handling queries. Will be the first point of contact with clients - engage meaningfully, provide necessary information on our solution, and help convert the lead into a prospect.</p>
                    <br>
                    <h6>Skills and Competence:</h6>
                    
                    <p>A mover and a shaker highly motivated to succeed.
                    Must hold at least 4-7 years of experience, in B2B outbound calling.
                    Familiarity with cold calling campaigns and follow up techniques
                    Perseverant, with the ability to establish 'contact' quickly
                    Fluent in written and oral communication, comfortable on calls with prospects across the globe, good at researching information online, good at understanding the basics of business in each industry vertical.
                    Team working skills
                    Ability to prioritize and multi-task
                    Knowledge of Salesforce CRM is an asset
                    Proven track record of working collaboratively with internal stakeholders throughout the sales-cycle
                    Leadership skills: can work without supervision, initiate and follow-through on sales strategy plus collaborate on market research, and regional sales strategies with ease
                    Understanding of the security/right management products will be preferred.</p>
                    <br>
                    <h6>Skills Requirement:</h6>

                    <p>1.Front-end Languages and Frameworks<br>
                        2.Backend Technologies and Frameworks<br>
                        3.Database Management Systems<br>
                        4.Version Control<br>
                        5.Web Hosting Platforms<br>
                        6.Soft Skills <br>
                        </p>
                </footer>
              </small>
              
            </blockquote>
          </div>
        </div>
      </div>

      <h1 class="text-center">APPLY NOW</h1>

      <div class="container">
        <legend>
          <form action="/fs" method="post" encrypt="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name"><b>Full Name</b></label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="First Name - Middle Name - Last Name" required>
            </div>
    
            <div class="form-group">
                <label for="email"><b>Email id</b></label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Your Email Address" required>
            </div>
    
            <div class="form-group mb-2">
                <label for="phone"><b>Mobile Number</b></label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="+91" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email or phone number with anyone else.</small>
            </div>

            <div class="form-group mb-2">
                <label for="select"><b>Gender</b></label>
                <select name="gender" id="gender">
                  <option selected disabled="true">Choose...</option>                 
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>          
                </select>
            </div>

            <div class="form-group mb-2">
                <label for="input"><b>Qualification</b></label>
                <input type="text" id="Qualification" name="Qualification" placeholder="Mention your Qualification">
            </div>

            <div class="form-group mb-2">
              <label for="select"><b>Competence</b></label>
              <select name="competence" id="competence">
                <option selected disabled="true">Choose...</option>                 
                  <option value="Fresher"><b>I'm a Fresher</b> - I am a Student / Haven't worked after graduation</option>
                  <option value="Experienced"><b>I'm Experienced</b> - I have work experience (Excluding interships)</option>          
              </select>
          </div>
            
              <div class="form-group mb-2">
                <label for="name"><b>Current City</b></label>
                <input type="text" class="form-control" id="city" name="city" aria-describedby="name" placeholder="Mention the city you live in" required>
            </div>

            <div class="form-group">
                <label for="file"><b>Upload your Resume</b></label>
                <input type="file" id="file" name="file">
            </div>

            <div class="form-group mb-2">
                <label for="desc"><b>Describe Yourself :</b></label>
                <textarea class="form-control" name="desc" id="desc" cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group mb-4">
                <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-lg mx-2 ">Submit</button>
            
            <button type="reset" class="btn btn-primary btn-lg mx-2">Reset</button>
        </div>
        </div>
    </div>
    </div>
    </form>
{%endblock body%}