{%extends 'base.html'%}
{%block title%}HTML{%endblock title%}
{%block body%}

<!--html-->
<div class="bg-dark text-white">
  <h1 class="text-center my-0">HTML - HyperText Markup Language</h1>
  </div>
  
  <div class="album bg-dark">
      <div class="container">
        
        <h1 class="text-left text-white">OVERVIEW</h1>
    <p class="text-white text-align:justify text-break bg-dark fs-4">The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript.

      Web browsers receive HTML documents from a web server or from local storage and render the documents into multimedia web pages. HTML describes the structure of a web page semantically and originally included cues for the appearance of the document.
  </p>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/ht1.jpg" class="d-block w-100" alt="...">
  
          <div class="card-body">
            <p class="card-text"><strong>Complete HTML Course Playlist</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtube.com/playlist?list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg "><button type="button" class="btn btn-danger">Visit Playlist</button></a>                 
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/ht2.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Complete Helpful Documentation</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/"><button type="button" class="btn btn-danger">Get Documentation</button></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/ht3.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>HTML In One Video For Revision</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/HcOc7P5BMi4"><button type="button" class="btn btn-danger">Play Video</button></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="container my-3">
      <style>
        .content {
          max-width: 500px;
          margin: auto;
        }
        </style>
        <body>
        
        <div class="content">
      <div class="col" >
        <div class="card shadow-sm">
          <img src="/static/5.png" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Notes And Study Material</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1jlUwlqpABGmjkXdj1KY1ufYnFf_yLRxs"><button type="button" class="btn btn-danger">Click for Notes</button></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock body%}