{%extends 'base.html'%}
{%block title%}PHP{%endblock title%}
{%block body%}
<!--php-->
<div class="bg-dark text-white">
  <h1 class="text-center my-0">PHP: Hypertext Preprocessor</h1>
  </div>
  
  <div class="album bg-dark">
      <div class="container">
        
        <h1 class="text-left text-white">OVERVIEW</h1>
    <p class="text-white text-align:justify text-break bg-dark fs-4">PHP code is usually processed on a web server by a PHP interpreter implemented as a module, a daemon or as a Common Gateway Interface (CGI) executable. On a web server, the result of the interpreted and executed PHP code – which may be any type of data, such as generated HTML or binary image data – would form the whole or part of an HTTP response. Various web template systems, web content management systems, and web frameworks exist which can be employed to orchestrate or facilitate the generation of that response. Additionally, PHP can be used for many programming tasks outside the web context, such as standalone graphical applications and robotic drone control. PHP code can also be directly executed from the command line.
  </p>
  

  
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/ph1.jpg" class="d-block w-100" alt="...">

      <div class="card-body">
        <p class="card-text"><strong>Complete HTML Course Playlist</strong></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="https://youtube.com/playlist?list=PLu0W_9lII9aikXkRE0WxDt1vozo3hnmtR"><button type="button" class="btn btn-primary">Visit Playlist</button></a>                 
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/ph2.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>Complete Helpful Documentation</strong></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="hhttps://www.php.net/manual/en/"><button type="button" class="btn btn-primary">Get Documentation</button></a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/ph3.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>HTML In One Video For Revision</strong></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="https://youtu.be/1SnPKhCdlsU"><button type="button" class="btn btn-primary">Play Video</button></a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="container my-3">
  <style>
    .content {
      max-width: 500px;
      margin: auto;
    }
    </style>
    <body>
    
    <div class="content">
  <div class="col" >
    <div class="card shadow-sm">
      <img src="/static/ph4.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>Notes And Study Material</strong></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="https://drive.google.com/drive/folders/1jm9VL8u8eprMHyFYoYDr0qUoqwVY12Im"><button type="button" class="btn btn-primary">Click for Notes</button></a>
          </div>             
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{%endblock body%}