{%extends 'base.html'%}
{%block title%}Python{%endblock title%}
{%block body%}

<!--python-->
<div class="bg-dark text-white">
<h1 class="text-center my-0">PYTHON - Programming Language</h1>
</div>

<div class="album bg-dark">
    <div class="container">
      
      <h1 class="text-left text-white">OVERVIEW</h1>
  <p class="text-white text-align:justify text-break bg-dark fs-4">Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.
  Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.
  Python consistently ranks as one of the most popular programming languages.
</p>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/p2.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><strong>Complete Python Course Playlist</strong></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtube.com/playlist?list=PLTjRvDozrdlxj5wgH4qkvwSOdHLOCx10f"><button type="button" class="btn btn-warning">Visit Playlist</button></a>                 
                </div>               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/p3.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><strong>Complete Helpful Documentation</strong></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.python.org/doc/"><button type="button" class="btn btn-warning">Get Documentation</button></a>
                </div>                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/p1.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><strong>Python In One Video For Revision</strong></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/_uQrJ0TkZlc"><button type="button" class="btn btn-warning">Play Video</button></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="container my-3">
        <style>
          .content {
            max-width: 500px;
            margin: auto;
          }
          </style>
          <body>
          
          <div class="content">
        <div class="col" >
          <div class="card shadow-sm">
            <img src="/static/2.jfif" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><strong>Notes And Study Material</strong></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://drive.google.com/drive/folders/1jfELxTGvX26Obg2laS-202sXzy1s3iFu"><button type="button" class="btn btn-warning">Click for Notes</button></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
{%endblock body%}