{%extends 'base.html'%}
{%block title%}Basic Web Development{%endblock title%}
{%block body%}

<!--web development-->
<div class="bg-dark text-white">
  <h1 class="text-center my-0">Basic Web Development</h1>
  </div>
  
  <div class="album bg-dark">
      <div class="container">
        
        <h1 class="text-left text-white">OVERVIEW</h1>
    <p class="text-white text-align:justify text-break bg-dark fs-4">Web development is the work involved in developing a website for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services. A more comprehensive list of tasks to which Web development commonly refers, may include Web engineering, Web design, Web content development, client liaison, client-side/server-side scripting, Web server and network security configuration, and e-commerce development.
  </p>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/w1.jpg" class="d-block w-100" alt="...">
  
          <div class="card-body">
            <p class="card-text"><strong>Complete Basic Web Development Course Playlist</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://www.youtube.com/playlist?list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n"><button type="button" class="btn btn-dark">Visit Playlist</button></a>                 
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/w2.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Helpful Documentation For Basic Web Development</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://www.w3schools.com/html/html_intro.asp"><button type="button" class="btn btn-dark">Get Documentation</button></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
     
      <div class="col" >
        <div class="card shadow-sm">
          <img src="/static/w3.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Notes And Study Material For Basic Web Development</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1jpx13_88iI2v9XrS9saY4yLHkNWL4cjp"><button type="button" class="btn btn-dark">Click for Notes</button></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock body%}